<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create TypeNote</title>
</head>
<body>

<h3>Create TypeNote</h3>

<p><a href="/typeNote">List TypeNote</a> </p>

<form th:action="@{/create-type}" th:object="${typeNote}" method="post">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><input type="text" th:field="*{description}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create TypeNote"></td>
        </tr>
    </table>
</form>
</body>
</html>